ScriptedReporRunner/ScriptedReporRunner.csproj.user
ScriptedReporRunner/bin/Debug/ScriptedReporRunner.exe
ScriptedReporRunner/bin/Debug/ScriptedReporRunner.pdb
ScriptedReporRunner/obj/Debug/ScriptedReporRunner.exe
ScriptedReporRunner/obj/Debug/ScriptedReporRunner.pdb
ScriptedReporRunner/obj/Debug/config/configs.json
